#footer{
    background-color: #0250a4;
color: white;
line-height: 30px;
margin-left: 0;
margin-right: 0;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
h4{
    margin: auto;
    padding:auto;
}
.list{
    padding-left: 0px;
    list-style: none;
}













